<div class="cardSelection">
    <img src="{{imageUrl}}">
    <div class="cardInfo" >
        <h3>{{name}}</h3>
        <p>{{text}}</p>
        <input name="selectedCard" type="checkbox" value="{{name}}"/>
    </div>

</div>